{
  "presets": [
    "next/babel"
  ],
  "ignore": [],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "styl$"]
      }
    ],
    ["transform-define", "./config/env-config.js"]
  ]
}
