// TYPOGRAPHY
//------------------------------------------------
$fontFamilyBase     = 'Roboto', sans-serif
$fontFamilyHeaders  = 'NewsGoth BdXCn BT W00 Bold', sans-serif
//------------------------------------------------


// COLORS
//------------------------------------------------
$baseFontColorPrimary   = #333333 // black
$baseFontColorSecondary = #ffffff // white
$lightGrey              = #8b8b8b // grey
$backgroundColor        = #f7f7f7 // pale white
$headerActiveBG         = #f4f4f4 // kind of grey
$ctaColor               = #e4007d // pink
$activeColor            = #4f2d7f // purple
$secondaryColor         = #00bdb9 // aqua
$cookieBannerBG         = #1fcaff // blue
//------------------------------------------------


// MEDIA QUERIES (mobile-first, same as Bootstrap)
//------------------------------------------------
/* Custom, iPhone Retina */
$mediaXS = "only screen and (min-width : 320px)"
/* Extra Small Devices, Phones */
$mediaS  = "only screen and (min-width : 480px)"
/* Small Devices, Tablets */
$mediaM  = "only screen and (min-width : 768px)"
/* Medium Devices, Desktops */
$mediaL  = "only screen and (min-width : 992px)"
/* Large Devices, Wide Screens */
$mediaXL = "only screen and (min-width : 1200px)"
//------------------------------------------------
