.gc-stories-container
  background-color #f8f8f8
  font-size 16px
  padding-top 40px
  padding-bottom 60px
  line-height 1.6
  .gc-stories-title
    color #6e33a0
    font-size 18px
  p
    margin-bottom 20px

  .gc-story
    .active
      display block
    .inactive
      opacity 0
      display none

.gc-separator
  background-color #fff
  .rhomb-container
    display flex
    justify-content center
    text-align center
    padding 0
    .rhomb
      height 40px
      width 40px
      background-color #f8f8f8
      transform rotate(45deg) translateY(15px) translateX(15px)
